.nav-tabs-inner {
  border-bottom: 1px solid @border-color;
  border-right: 1px solid @border-color;
  border-left: 1px solid @border-color;
  padding: @indent;
}
.space-after {
  &:after {
    content: " ";
    display: inline-block;
    font-size: 0;
    width: @indent;
    height: 0;
    visibility: hidden;
  }
}
.indented-top {
  margin-top: @indent;
}
.hr {
  height: 1px;
  background: @border-color;
  margin: @indent 0;
}
.form-group.required .control-label:before {
  content: '*';
  color: red;
  margin-right: 5px;
}
.ng-dirty.ng-invalid {
  border-color: red;
}
.pointer {
  cursor: pointer;
}