.container-fluid
  h1 Incident Form
  ul.nav.nav-tabs
    li(role="presentation" ui-sref-active="active")
      a(ui-sref="general-information") General Information
    li(role="presentation" ui-sref-active="active")
      a(ui-sref="corrective-actions") Corrective actions
    li(role="presentation" ui-sref-active="active")
      a(ui-sref="review-and-submit") REVIEW and SUBMIT